# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# cache
.awcache

# jest cache
.jestcache

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# jest cache
.jestcache

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log

# System Files
.DS_Store
Thumbs.db

# env
.env