# compiled output
app/build
build
app/tmp
tmp
app/out-tsc
out-tsc

# dependencies
app/node_modules
node_modules

# aws
app/.awcache
.awcache

# IDEs and editors
app/.idea
./idea

# misc
app/.sass-cache
.sass-cache
app/connect.lock
connect.lock
app/coverage
coverage
app/libpeerconnection.log
libpeerconnection.log
app/npm-debug.log
npm-debug.log
app/testem.log
testem.log

# System Files
.DS_Store
app/.DS_Store
Thumbs.db
app/Thumbs.db

# env
app/.env
.env